# Node modules
node_modules/
**/node_modules/

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*
npm-debug.log*
pnpm-debug.log*

# Build output for Next.js
.next/
out/

# Build output for NestJS
dist/

# Production files
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# VSCode settings
.vscode/
.idea/

# MacOS files
.DS_Store
# Debug files
*.tsbuildinfo

# Temporary files
*.tmp
*.temp
